<!DOCTYPE html>
<html lang="en" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="https://app.powerbi.com/reportEmbed?reportId=2e1f86c0-4f4f-49a7-b129-eb6d911e9ae8&autoAuth=true&ctid=f358133d-4e22-45e5-a09a-d4bde299ed4d">
    <title>Charts</title>
</head>
<body class="sb-nav-fixed">

<iframe title="DevAnalisisDeDatos" width="100%" height="2000"
        src="https://app.powerbi.com/reportEmbed?reportId=2e1f86c0-4f4f-49a7-b129-eb6d911e9ae8&autoAuth=true&ctid=f358133d-4e22-45e5-a09a-d4bde299ed4d" frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>