<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="/css/style.css" rel="stylesheet"/>

</head>
<body class="img js-fullheight" style="background-image: url(/assets/img/bgLogin.jpg);">
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">Register</h3>
                    <form th:action="@{/security/registro-guardados}" th:object="${usuarioRegistarDto}"
                          class="signin-form" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name" required th:field="*{nombre}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Last name" required
                                   th:field="*{apellido}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email" required th:field="*{email}">
                        </div>
                        <div class="form-group">
                            <input id="password-field" type="password" class="form-control" placeholder="Password"
                                   required th:field="*{password}">
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">register</button>
                        </div>
                        <div class="form-group d-md-flex">
                            <div class="w-50">

                                <a th:href="@{/security/login}" style="color: #fff">Sing up</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>